@charset "UTF-8";
/* Colores */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Google Fonts */
/* Tamaños de texto */
/* Estilos de texto y títulos */
.textWhite {
  color: whitesmoke; }

.titulo--xxl {
  font-weight: 400;
  font-size: 3rem;
  line-height: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.titulo--xl {
  font-weight: 300;
  font-size: 2.5rem; }

.titulo--md {
  font-weight: 700;
  font-size: 2rem; }

.titulo--sm {
  font-weight: 300;
  font-size: 2.2rem; }

/* Estilos de la barra de navegación */
.nav {
  grid-area: nav; }

.navbar-nav .nav-item .nav-link {
  color: black; }
  .navbar-nav .nav-item .nav-link:hover {
    color: #F1BD13; }
  @media only screen and (min-width: 992px) {
    .navbar-nav .nav-item .nav-link {
      font-size: 1.5rem;
      margin-left: 1rem;
      margin-right: 1rem; } }

.navbar-toggler-icon {
  font-size: 2rem; }

.bg-white {
  background-color: white; }

/*  Estilos de header - Usado en todas las páginas salvo el index */
.header {
  grid-area: header;
  /* Estilo específico de la página info */ }
  .header img {
    width: 100%;
    margin-bottom: 1rem; }
  .header h1 {
    text-align: center; }
  .header .headerInfo-intro {
    padding: 4rem;
    margin: 1rem;
    border: 5px solid #212A31;
    text-align: center; }
    .header .headerInfo-intro span {
      font-weight: 700; }

/* Estilos generales  + Botones + Cards */
/* Estilos generales */
* {
  font-family: Lato, sans-serif; }

html {
  font-size: 62.5%; }

body {
  font-size: 2rem;
  line-height: 3rem;
  color: #212A31; }

a {
  color: #212A31;
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 3rem; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.bgDark {
  background-color: #212A31; }

/* Estilos de botones */
.btn-grad, .btn-grad-reset {
  border: none;
  margin: 1rem;
  padding: 1.5rem 3rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  border-radius: 0.3rem;
  display: inline-block;
  width: 40%;
  color: #212A31;
  white-space: normal;
  word-wrap: break-word; }

.btn-grad {
  background-image: linear-gradient(to right, #f1bd13 0%, #f8ca38 51%, #ffd753 100%); }

.btn-grad-reset {
  background-image: linear-gradient(to right, #cccccc 0%, #e0e0e0 51%, #f5f5f5 100%); }

.btn-grad-reset:hover, .btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  text-decoration: none;
  font-weight: 700; }

.btn-grad-reset a:hover, .btn-grad a:hover {
  color: black; }

.botonHome {
  font-size: 3rem;
  margin-left: 0;
  margin-top: 2rem;
  margin-bottom: 4rem;
  width: 70%;
  box-shadow: none; }

/* Estilos de cajas - cards - usado en páginas Sustentabilidad y Info   */
.blackCard {
  background-color: #212A31;
  color: whitesmoke;
  padding-bottom: 2rem; }
  .blackCard h2 {
    color: #F1BD13;
    margin-left: 2rem;
    margin-bottom: 2rem; }
  .blackCard img {
    padding: 3rem; }
  .blackCard ol {
    list-style: none; }
    .blackCard ol li {
      list-style: none;
      margin: 2rem auto;
      padding-left: 2rem; }
  .blackCard a {
    color: whitesmoke;
    text-decoration: underline; }
  .blackCard .card-body p {
    margin: auto 2rem; }

.contenedorHome {
  display: grid;
  grid-template-areas: "nav" "mainHome" "footer";
  background-image: url(../assets/entrada-vertical.jpg);
  background-position: center 70%;
  background-repeat: no-repeat;
  height: 100vh; }
  @media only screen and (min-width: 1024px) {
    .contenedorHome {
      background-image: url(../assets/entrada-horizontal.jpg);
      background-size: cover;
      background-position: center 20%; } }

.mainHome {
  grid-area: mainHome; }
  .mainHome .homeTitle {
    position: relative;
    top: 35%;
    background-color: rgba(245, 245, 245, 0.5);
    text-align: center; }
    @media only screen and (min-width: 1024px) {
      .mainHome .homeTitle {
        position: relative;
        top: 0;
        background-color: transparent;
        color: whitesmoke;
        width: 35%;
        text-align: left;
        margin-left: 7rem; } }
    .mainHome .homeTitle h1 {
      font-weight: 700;
      padding-top: 2rem;
      margin: 2rem 0; }
      @media only screen and (min-width: 1024px) {
        .mainHome .homeTitle h1 {
          font-size: 5rem;
          line-height: 6rem;
          margin-bottom: 4rem; } }
    .mainHome .homeTitle h2 {
      margin: 2rem 0; }
      @media only screen and (min-width: 1024px) {
        .mainHome .homeTitle h2 {
          margin-bottom: 4rem; } }

.contenedorInfo {
  /* Estilos de la sección Downloads */ }
  .contenedorInfo .row {
    padding: 1rem; }
  .contenedorInfo .mainInfo {
    padding: 0;
    margin: 0;
    /* Estilo de tabla de Horarios */
    /* Sacando padding a la última fila - Servicios Adicionales */ }
    .contenedorInfo .mainInfo #horarios table {
      font-weight: 300;
      width: 100%;
      border-collapse: collapse; }
    .contenedorInfo .mainInfo #horarios tr {
      height: 7rem;
      border-bottom: 0.5px solid whitesmoke; }
      .contenedorInfo .mainInfo #horarios tr td:first-child {
        text-align: left; }
      .contenedorInfo .mainInfo #horarios tr td:nth-child(2) {
        text-align: right; }
    .contenedorInfo .mainInfo .blackCard[id="horarios"] {
      padding: 3rem;
      text-align: center; }
    .contenedorInfo .mainInfo #adicionales {
      padding: 0; }
  .contenedorInfo #downloads {
    background-color: #fdf8e7;
    padding: 2rem; }
    @media only screen and (min-width: 992px) {
      .contenedorInfo #downloads {
        margin: 0; } }
    @media only screen and (min-width: 992px) {
      .contenedorInfo #downloads li {
        margin: 1rem auto; } }
    .contenedorInfo #downloads li a {
      color: #212A31;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem; }
      .contenedorInfo #downloads li a i {
        font-size: 5rem; }
        @media only screen and (max-width: 440px) {
          .contenedorInfo #downloads li a i {
            font-size: 2.5rem; } }
        .contenedorInfo #downloads li a i:hover {
          transform: scale(1.1); }

/* Estilo de card para la lista de Restaurantes */
.whiteCard {
  border: 0.5px solid #212A31;
  padding-bottom: 2rem; }
  .whiteCard h2 {
    font-weight: 700;
    color: #F1BD13;
    margin-left: 2rem;
    margin-bottom: 2rem; }
  .whiteCard img {
    padding: 3rem;
    /* ipad only */ }
    .whiteCard img:hover {
      transform: scale(1.03);
      transition: all 0.5s; }
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      .whiteCard img {
        padding: 0; } }
  .whiteCard .card-body p {
    margin: auto 2rem; }
  .whiteCard .datosReco {
    padding-left: 0;
    background-color: transparent;
    text-align: left;
    padding-top: 2rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 300; }
    .whiteCard .datosReco a {
      color: #2AA3D7; }
      .whiteCard .datosReco a:hover {
        text-decoration: underline;
        color: #2AA3D7; }

/* Grid */
.contenedorGreen {
  display: grid;
  grid-template-areas: "nav" "header" "introGreen" "mainGreen" "asideGreen" "footer"; }
  @media only screen and (min-width: 1024px) {
    .contenedorGreen {
      grid-template-areas: "nav nav" "header header" "introGreen asideGreen" "mainGreen mainGreen" "footer footer";
      grid-template-columns: 3fr 1fr; } }
  .contenedorGreen #introGreen {
    grid-area: introGreen; }
  .contenedorGreen .card[id="introGreen"] {
    border: 0px; }
  .contenedorGreen .mainGreen {
    grid-area: mainGreen;
    width: 97%; }
  .contenedorGreen .asideGreen {
    grid-area: asideGreen;
    margin-bottom: 3rem;
    border: 5px solid #212A31;
    padding: 2rem; }
    @media only screen and (min-width: 1024px) {
      .contenedorGreen .asideGreen {
        font-size: 1.5rem;
        margin-left: 3rem;
        margin-right: 1rem;
        margin-bottom: 0; } }

/* Grid */
.contenedorContacto {
  display: grid;
  grid-template-areas: "nav" "header" "mainContacto" "mapa" "footer"; }
  @media only screen and (min-width: 1024px) {
    .contenedorContacto {
      grid-template-areas: "nav nav" "header header" "mapa mainContacto" "footer footer";
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3rem; } }

/* Formulario de contacto */
.mainContacto {
  grid-area: mainContacto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: 300;
  margin-bottom: 3rem; }
  .mainContacto h2 {
    padding: 2rem 0;
    border-top: 0.5px solid #212A31;
    border-bottom: 0.5px solid #212A31;
    text-align: center; }
  .mainContacto .form-select, .mainContacto .form-control {
    font-size: 1.5rem;
    font-weight: 300; }
  .mainContacto textarea {
    height: 15vh; }

/* Mapa */
.mapa {
  grid-area: mapa;
  margin-bottom: 3rem; }
  .mapa iframe {
    width: 100%;
    height: 50vh;
    border-width: 0; }
    @media only screen and (min-width: 1024px) {
      .mapa iframe {
        height: 100%; } }

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  font-size: 1.5rem; }
  @media only screen and (min-width: 768px) {
    .footer {
      /* Footer en una sola línea */
      flex-direction: row;
      justify-content: space-between;
      padding: 0 4rem; } }
  @media only screen and (min-width: 1024px) {
    .footer {
      margin-top: 3rem; } }
  .footer[id="footerHome"] {
    height: 90px;
    width: 100%;
    position: absolute;
    bottom: 0; }
    @media only screen and (min-width: 1024px) {
      .footer[id="footerHome"] {
        height: 50px; } }
    .footer[id="footerHome"] .wifi {
      margin-left: 3rem; }

.redes {
  margin-top: 1rem; }
  .redes a i {
    margin: 0 15px;
    color: whitesmoke;
    height: 30px; }
    .redes a i:hover {
      transform: scale(1.3); }
  .redes a img {
    margin: 0 15px 3px 15px;
    height: 14px; }
    .redes a img:hover {
      transform: scale(1.3); }
